@import "tailwindcss";

:root {
  --background: #1F2937;
  --background-secondary: #111827;
  --foreground: #F3F4F6;
  --foreground-secondary: #D1D5DB;
  --primary: #4338CA;
  --primary-hover: #4F46E5;
  --primary-active: #3730A3;
  --secondary: #BE185D;
  --secundary-hover: #EC4899;
  --secundary-active: #9D174D;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secundary-hover);
  --color-secondary-active: var(--secundary-active);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F2937;
    --background-secondary: #111827;
    --foreground: #F3F4F6;
    --foreground-secondary: #D1D5DB;
    --primary: #4338CA;
    --primary-hover: #4F46E5;
    --primary-active: #3730A3;
    --secondary: #BE185D;
    --secundary-hover: #EC4899;
    --secundary-active: #9D174D;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-gradient {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 25px -5px color-mix(in srgb, var(--color-foreground), transparent 95%), 0 10px 10px -5px color-mix(in srgb, var(--color-foreground), transparent 95%);
}

/* Keyframes */
@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-down-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right-animation {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes subtle-pulse-animation {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

@keyframes fade-in-up-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clases de utilidad para aplicar las animaciones */
.animate-fade-in {
  animation: fade-in-animation 0.5s ease-in-out forwards;
}

.animate-fade-in-up {
  animation: fade-in-up-animation 0.8s ease-in-out forwards;
}

.animate-fade-in-down {
  animation: fade-in-down-animation 0.8s ease-in-out forwards;
}

.animate-fade-in-left {
  animation: fade-in-left-animation 0.8s ease-in-out forwards;
}

.animate-fade-in-right {
  animation: fade-in-right-animation 0.8s ease-in-out forwards;
}

.animate-subtle-pulse {
  animation: subtle-pulse-animation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite forwards;
}

/* Clases para delays */
.animate-delay-100 {
  opacity: 0;
  animation-delay: 0.1s;
}

.animate-delay-200 {
  opacity: 0;
  animation-delay: 0.2s;
}

.animate-delay-300 {
  opacity: 0;
  animation-delay: 0.3s;
}

.animate-delay-400 {
  opacity: 0;
  animation-delay: 0.4s;
}

.animate-delay-500 {
  opacity: 0;
  animation-delay: 0.5s;
}

.animate-delay-600 {
  opacity: 0;
  animation-delay: 0.6s;
}

.animate-delay-700 {
  opacity: 0;
  animation-delay: 0.7s;
}

.animate-delay-800 {
  opacity: 0;
  animation-delay: 0.8s;
}